/************************************************
    GENERAL STYLES
 ************************************************/

/* Custom Properties */
:root {
    /* Sizing */

    --xs: 0.5rem;
    --s: 1rem;
    --m: 1.5rem;
    --l: 2rem;
    --xl: 3rem;

    /* Palette */
    --green-side: rgb(124, 183, 43);
    --main-color: rgb(20, 25, 34);
    --footer-gray: rgb(40, 40, 40);
    --header-gray: rgb(8, 11, 18);

}

/* Commons */
body {
    font-family: Montserrat;
    color: white;
}

.side-ico {
    padding-bottom: 10px;
    width: 20%;
    vertical-align: middle;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/************************************************
    UTILITIES
 ************************************************/

/* Layout */
.container {
    width: 1080px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}


.separator {
    width: 90%;
    border: 1px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Text */

.text-center {
    text-align: center;
}

.white-text {
    color: white;
    ;
}

.heading-text {
    padding-bottom: 30px;
    gap: 20px;
    justify-content: center;

}


.highlight {
    padding-bottom: 5px;
    border-bottom: 2px solid greenyellow;



}


/* Borders */
.rounded {
    border-radius: 20px;
}

.rounded-big {
    border-radius: 50px;
}

.rounded-50 {
    border-radius: 50%;
}

/* UI */

.btn {
    appearance: none;
    display: inline-block;
    text-decoration: none;
    border: 1px solid transparent;
    cursor: pointer;
}




/* Variations */

.transparent-btn {
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 20px;
    margin-right: 20px;
}

ul {
    list-style-type: none;
}

/* Generics */



/* Header */
header {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    justify-content: flex-end;
    align-items: center;
}

/* Upper content */

.upper-content {
    height: calc(100vh - 150px);

}

.sidebar {
    height: calc(100vh - 150px);
    width: 200px;
    background-color: black;

}

.playlist-containing {
    height: 200px;
    overflow: auto;
    margin-bottom: 80px;
}

.main-content {
    width: calc(100% - 200px);
    background-color: var(--main-color);
    overflow: auto;

}

.content {
    padding-top: 20px;
}

.sidebar-content {
    margin-left: 10px;
    padding: 10px 10px;
    line-height: 30px;
}

.mobile-logo {
    display: none;
}

.central-content {
    margin-left: 20px;
    margin-right: 20px;
}


.row {
    padding-top: 20px;
    gap: 10px;
}

.album {
    width: calc(100%/6 - 10px);

}

.album-cover {
    max-width: 100%;
    object-fit: cover;
    display: block;
}

.album-text {
    padding-top: 10px;
    line-height: 30px;
    text-align: center;
}

/* Footer */
footer {
    height: 150px;
    background-color: var(--footer-gray);
}


/* Media Query */
@media screen and (max-width: 500px) {
    .sidebar {
        width: 50px;
    }

    .main-content {
        width: calc(100% - 50px);
    }

    .main-logo {
        display: none;
    }

    .mobile-logo {
        display: block;
    }

    .aside-text {
        display: none;
    }

    .playlist {
        display: none;
    }

    .separator {
        display: none;
    }

    .side-ico {
        width: 100%;
    }

    .heading-text {
        flex-wrap: wrap;
    }

    .row {
        flex-wrap: wrap;
    }

    .album {
        width: calc(100% / 2 - 10px);
    }
}