/************************************************
    GENERAL STYLES
 ************************************************/

/* Custom Properties */
:root {
    /* Sizing */

    --xs: 0.5rem;
    --s: 1rem;
    --m: 1.5rem;
    --l: 2rem;
    --xl: 3rem;

    /* Palette */
    --green-side: rgb(124, 183, 43);
    --main-color: rgb(20, 25, 34);
    --footer-gray: rgb(40, 40, 40);
    --header-gray: rgb(8, 11, 18);

}

/* Commons */
body {
    font-family: Montserrat;
    color: white;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/************************************************
    UTILITIES
 ************************************************/

/* Layout */
.container {
    width: 1080px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

/* Text */

.text-center {
    text-align: center;
}

.white-text {
    color: white;
    ;
}

/* Borders */
.rounded {
    border-radius: 20px;
}

.rounded-big {
    border-radius: 50px;
}

.rounded-50 {
    border-radius: 50%;
}

/* UI */

.btn {
    appearance: none;
    display: inline-block;
    text-decoration: none;
    border: 1px solid transparent;
    cursor: pointer;
}


/* Variations */


/* Generics */

/* Media Query */

/* Header */

/* Upper content */

.upper-content {
    height: calc(100vh - 150px);

}

.sidebar {
    width: 20%;
    background-color: pink;

}

.main-content {
    width: 80%;
    background-color: greenyellow;
    overflow: auto;
}

/* Footer */
footer {
    height: 150px;
    background-color: var(--footer-gray);
}